/.android
/.app-store
/.aws
/.azure
/.cache
/.codeium
/.config
/.console-ninja
/.cursor
/.cursor-tutor
/.cursor-tutor-1
/.dbclient
/.docker
/.dotnet
/.expo
/.gitconfig
/.idlerc
/.lesshst
/.librarymanager
/.matplotlib
/.node_repl_history
/.nuget
/.skiko
/.ssh
/.supermaven
/.templateengine
/.viminfo
/.vscode
/.wakatime
/.wakatime.cfg
/.yarnrc
/ansel
/AppData
/az.url
/bff
/busalert
/cert.pem
/Chatbot-Frontend-B
/chatgpt
/commercial_database.tar.gz
/Contacts
/Creative Cloud Files
/Desktop
/Disco
/diskpart
/django-hello-world
/Documents
/Downloads
/ec2mileigaspar.ppk
/entevista
/Favorites
/fecthurl.js
/fff.py
/Figure_1.png
/GoldenWord
/import matplotlib.py
/import numpy as np.py
/import numpy as np.txt
/import pandas as pd.py
/index.html
/index.html.1
/index.html.10
/index.html.11
/index.html.12
/index.html.13
/index.html.2
/index.html.3
/index.html.4
/index.html.5
/index.html.6
/index.html.7
/index.html.8
/index.html.9
/IntelGraphicsProfiles
/jan
/key.pem
/Links
/Music
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
/NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/OneDrive
/package-lock.json
/Pictures
/portfolio-gaspar
/portfolio-json
/Postman
/PycharmProjects
/Saved Games
/scoop
/Searches
/Source
/speech2text-redes2
/speech2text-redes2-1
/sql
/Telegrama
/tesis
/Untitled-1.py
/UrbanVPN
/Videos
/websocket
/WebstormProjects
/_netrc
/Configuración local
/Cookies
/Datos de programa
/Entorno de red
/Impresoras
/Menú Inicio
/Mis documentos
/Plantillas
/Reciente
/SendTo